@charset "utf-8";
/* CSS Document */
body{
			margin: 0;
			padding: 0;
		}
		.a{
	height: 1000px;
	width: 100%;
	
			background-color:#F3F3F2;
			position: relative;
		}
		.b{
			height: 760px;
		width: 350px;
			background-image: url("未标题-1.png");
			
			position:sticky;
			top: 0;
			
			
		}
		.c{height: 300px;
		width: 100%;
		background:#000000;
		position:relative;}
		
		
		.b2 ul{
			width: 190px;
			height: 360px;
			list-style-type: none;
			margin: 0;
			padding: 0;
			
			
		}
.b2 ul li{
	width: 190px;
height: 30px;
	list-style-type: none;
	
			margin-top:20px;
	margin-bottom: 20px;
	margin-left: 25px;
	cursor: pointer;
	position: relative;
	color:#000000;
	
	
	transition: 0.5s;
	z-index: 2;
	
	transition: color 0.5s;
}
		
		.b1{
			height:250px;
			width: 350px;
			background-image: url("未标题-2.png");
		}
		.c1{
			height: 300px;
			width: 350px;
			background-image: url("未标题-4.png") ;
			position: absolute;
			left: 130px;
		}
		.c2{
			height: 176px;
		width: 910px;
			background-image: url("mQPBsM(2).png");
			position: absolute;
			bottom: 252px;
			right: 0;
		}
.b2{
	width: 190px;
	height: 360px;
	
	
}





	

	

.b2 ul li::after{
	content:'';
	background:#000000;
    width: 300px;
	height: 100%;
	position: absolute;
	left:-100%;
	top: 50%;
	transform: translate(-60%,-50%);
	z-index: -1;
	opacity: 0;
	transition: left 0.5s,opacity 0.5s;
}
.b2 ul li:hover{
	color:#FBFAFA ;
}
.b2 ul li:hover::after{
	
	left: 30%;opacity: 1;
}
.d{
	width: 1100px;
	height: 900px;
	sfdbackground: #40CDB2;
	position: absolute;
	left: 400px;
	top: 0;
}


.more{
	text-decoration: none;
	
}

.zhedang{
	height: 30px;
	width: 200px;
	position: absolute;
	top: 270px;
	left: 0;
	background: #000000;
	z-index: 22;
	color: #FFF9F9
}

.d1{
	width:450px;
	height: 70px;
	
	font-size: 50px;
	background: #000000;
	color: #FFFFFF;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.d2{
	width: 1100px;
	height: 650px;
	sfdgbackground: #E1DE85;
	position: relative;
	margin-top: 30px;
}

.d3{
	height: 650px;
	width: 270px;
	sdgbackground: #FFFFFF;
	position: absolute;
	right: 0;
}

.bigbox{
	height: 100px;
	width: 270px;
	xdfhbackground: #AD3A3B;
	margin-bottom: 10px;
	margin-top: 10px;
}

.left1{
	height: 80px;
	width:60px;
	background: #58AF8D;
	float: left;
	margin-left: 20px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.pic{
	height: 100%;
	
}

.left2{
	height: 80px;
	width:60px;
	background: #58AF8D;
	float: left;
	margin-left: 20px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.left3{
	height: 80px;
	width:60px;
	background: #58AF8D;
	float: left;
	margin-left: 20px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.left4{
	height: 80px;
	width:60px;
	background: #58AF8D;
	float: left;
	margin-left: 130px;
	margin-bottom: 10px;
	margin-top: 10px;
	
}

.left5{
	height: 80px;
	width:60px;
	background: #58AF8D;
	float: left;
	margin-left: 20px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.left6{
	height: 80px;
	width:60px;
	background: #58AF8D;
	float: left;
	margin-left: 20px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.left7{
	height: 80px;
	width:60px;
	background: #58AF8D;
	float: left;
	margin-left: 20px;
	margin-bottom: 10px;
	margin-top: 10px;
}
.left8{
	height: 80px;
	width:60px;
	background: #58AF8D;
	float: left;
	margin-left: 45px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.left9{
	height: 80px;
	width:60px;
	background: #58AF8D;
	float: left;
	margin-left: 45px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.left10{
	height: 80px;
	width:65px;
	background: #58AF8D;
	float: left;
	margin-left: 45px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.left11{
	height: 80px;
	width:65px;
	background: #58AF8D;
	float: left;
	margin-left: 45px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.d4{
	height: 650px;
	width: 800px;
	segbackground: #268541;
	overflow: hidden;
}

#box1{
	height: 650px;
	width: 800px;
	background-image: url("frank.png");
}

#box2{
	height: 650px;
	width: 800px;
	background-image: url("leonard.png");
}

#box3{
	height: 650px;
	width: 800px;
	background-image: url("rose.png");
}

#box4{
	height: 650px;
	width: 800px;
	background-image:url("ida.png");
}

#box5{
	height: 650px;
	width: 800px;
	background-image: url("emma.png");
}

#box6{
	height: 650px;
	width: 800px;
	background-image: url("samuel.png");
}

#box7{
	height: 650px;
	width: 800px;
	background-image: url("albert.png");
}

#box8{
	height: 650px;
	width: 800px;
	background-image: url("mary.png");
}

#box9{
	height: 650px;
	width: 800px;
	background-image: url("james.png");
}

#box10{
	height: 650px;
	width: 800px;
	background-image: url("william.png");
}

#box11{
	height: 650px;
	width: 800px;
	background-image: url("aldous.png");
}

.pic:hover{
	width: 110%;
	height: 110%;
	
}