  @charset "utf-8";
/* CSS Document */
body{
			margin: 0;
			padding: 0;
		}
		.a{
	height: 2000px;
	width: 100%;
	
			background-color:#F3F3F2;
			position: relative;
		}
.b{
			height: 760px;
		width: 350px;
			background-image: url("未标题-1.png");
			
			position:sticky;
			top: 0;
			
			
		}

.more{
	text-decoration: none;
	
}
		.c{height: 300px;
		width: 100%;
		background:#000000;
		position:relative;}
		
		
		.b2 ul{
			width: 190px;
			height: 360px;
			list-style-type: none;
			margin: 0;
			padding: 0;
			
			
		}
.b2 ul li{
	width: 190px;
height: 30px;
	list-style-type: none;
	
			margin-top:20px;
	margin-bottom: 20px;
	margin-left: 25px;
	cursor: pointer;
	position: relative;
	color:#000000;
	
	
	transition: 0.5s;
	z-index: 2;
	
	transition: color 0.5s;
}
		
		.b1{
			height:250px;
			width: 350px;
			background-image: url("未标题-2.png");
		}
		.c1{
			height: 300px;
			width: 350px;
			background-image: url("未标题-4.png") ;
			position: absolute;
			left: 130px;
		}
		.c2{
			height: 176px;
		width: 910px;
			background-image: url("mQPBsM(2).png");
			position: absolute;
			bottom: 252px;
			right: 0;
		}
.b2{
	width: 190px;
	height: 360px;
	
	
}





	

	

.b2 ul li::after{
	content:'';
	background:#000000;
    width: 300px;
	height: 100%;
	position: absolute;
	left:-100%;
	top: 50%;
	transform: translate(-60%,-50%);
	z-index: -1;
	opacity: 0;
	transition: left 0.5s,opacity 0.5s;
}
.b2 ul li:hover{
	color:#FBFAFA ;
}
.b2 ul li:hover::after{
	
	left: 30%;opacity: 1;
}

.zhedang{
	height: 30px;
	width: 200px;
	position: absolute;
	top: 370px;
	left: 0;
	background: #000000;
	z-index: 22;
	color: #FFF9F9
}
.d{
	width: 1100px;
	height:2100px;
	background: ;
	position: absolute;
	left: 400px;
	top: 0;
}
.d1{
	width:250px;
	height: 70px;
	
	font-size: 50px;
	background: #000000;
	color: #FFFFFF;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.d2{
	height: 60px;
	width: 660px;
	text-align: center;
	background:#6ED6A8;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	border-radius: 50px;
	outline: none;
}
.d3{
	height: 60px;
	width: 60px;
	float: left;
	background-image: url("未标题-music.png");
	border-radius: 50px;
	
	
}
.d4{
	height: 60px;
	width: 300px;
	float: left;
	margin-top: 10px;
}
.video{outline: none;}
.d5{
	height: 60px;
	width: 300px;
	float: left;
	margin-top: 4px;
	outline: none;
}
/*第二个音频*/
.d6{
	height: 60px;
	width: 660px;
	text-align: center;
	background:#6ED6A8;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	border-radius: 50px;
	
}
.d7{
	height: 60px;
	width: 60px;
	float: left;
	background-image: url("未标题-music.png");
	border-radius: 50px;
	
	
}
.d8{
	height: 60px;
	width: 300px;
	float: left;
	margin-top: 10px;
}
.d9{
	height: 60px;
	width: 300px;
	float: left;
	margin-top: 4px;
}
/*第3个音频*/
.d10{
	height: 60px;
	width: 660px;
	text-align: center;
	background:#6ED6A8;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	border-radius: 50px;
	
}
.d11{
	height: 60px;
	width: 60px;
	float: left;
	background-image: url("未标题-music.png");
	border-radius: 50px;
	
	
}
.d12{
	height: 60px;
	width: 300px;
	float: left;
	margin-top: 10px;
}
.d13{
	height: 60px;
	width: 300px;
	float: left;
	margin-top: 4px;
}


/*第4个音频*/
.d14{
	height: 60px;
	width: 660px;
	text-align: center;
	background:#6ED6A8;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	border-radius: 50px;
	
}
.d15{
	height: 60px;
	width: 60px;
	float: left;
	background-image: url("未标题-music.png");
	border-radius: 50px;
	
	
}
.d16{
	height: 60px;
	width: 300px;
	float: left;
	margin-top: 10px;
}
.d17{
	height: 60px;
	width: 300px;
	float: left;
	margin-top: 4px;
}


.d18{
	height: 60px;
	width: 660px;
	text-align: center;
	background:#6ED6A8;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	border-radius: 50px;
	
}
.d19{
	height: 60px;
	width: 60px;
	float: left;
	background-image: url("未标题-music.png");
	border-radius: 50px;
	
	
}
.d20{
	height: 60px;
	width: 300px;
	float: left;
	margin-top: 10px;
}
.d21{
	height: 60px;
	width: 300px;
	float: left;
	margin-top: 4px;
}

.d22{
	height: 60px;
	width: 660px;
	text-align: center;
	background:#6ED6A8;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	border-radius: 50px;
	
}
.d23{
	height: 60px;
	width: 60px;
	float: left;
	background-image: url("未标题-music.png");
	border-radius: 50px;
	
	
}
.d24{
	height: 60px;
	width: 300px;
	float: left;
	margin-top: 10px;
}
.d25{
	height: 60px;
	width: 300px;
	float: left;
	margin-top: 4px;
}

.d26{
	height: 60px;
	width: 660px;
	text-align: center;
	background:#6ED6A8;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	border-radius: 50px;
	
}
.d27{
	height: 60px;
	width: 60px;
	float: left;
	background-image: url("未标题-music.png");
	border-radius: 50px;
	
	
}
.d28{
	height: 60px;
	width: 300px;
	float: left;
	margin-top: 10px;
}
.d29{
	height: 60px;
	width: 300px;
	float: left;
	margin-top: 4px;
}

.d30{
	height: 60px;
	width: 660px;
	text-align: center;
	background:#6ED6A8;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	border-radius: 50px;
	
}
.d31{
	height: 60px;
	width: 60px;
	float: left;
	background-image: url("未标题-music.png");
	border-radius: 50px;
	
	
}
.d32{
	height: 60px;
	width: 300px;
	float: left;
	margin-top: 10px;
}
.d33{
	height: 60px;
	width: 300px;
	float: left;
	margin-top: 4px;
}

.d34{
	height: 60px;
	width: 660px;
	text-align: center;
	background:#6ED6A8;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	border-radius: 50px;
	
}
.d35{
	height: 60px;
	width: 60px;
	float: left;
	background-image: url("未标题-music.png");
	border-radius: 50px;
	
	
}
.d36{
	height: 60px;
	width: 300px;
	float: left;
	margin-top: 10px;
}
.d37{
	height: 60px;
	width: 300px;
	float: left;
	margin-top: 4px;
}

.d38{
	height: 60px;
	width: 660px;
	text-align: center;
	background:#6ED6A8;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	border-radius: 50px;
	
}
.d39{
	height: 60px;
	width: 60px;
	float: left;
	background-image: url("未标题-music.png");
	border-radius: 50px;
	
	
}
.d40{
	height: 60px;
	width: 300px;
	float: left;
	margin-top: 10px;
}
.d41{
	height: 60px;
	width: 300px;
	float: left;
	margin-top: 4px;
}

.d42{
	height: 60px;
	width: 660px;
	text-align: center;
	background:#6ED6A8;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	border-radius: 50px;
	
}
.d43{
	height: 60px;
	width: 60px;
	float: left;
	background-image: url("未标题-music.png");
	border-radius: 50px;
	
	
}
.d44{
	height: 60px;
	width: 300px;
	float: left;
	margin-top: 10px;
}
.d45{
	height: 60px;
	width: 300px;
	float: left;
	margin-top: 4px;
}

.d46{
	height: 60px;
	width: 660px;
	text-align: center;
	background:#6ED6A8;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	border-radius: 50px;
	
}
.d47{
	height: 60px;
	width: 60px;
	float: left;
	background-image: url("未标题-music.png");
	border-radius: 50px;
	
	
}
.d48{
	height: 60px;
	width: 300px;
	float: left;
	margin-top: 10px;
}
.d49{
	height: 60px;
	width: 300px;
	float: left;
	margin-top: 4px;
}

.d50{
	height: 60px;
	width: 660px;
	text-align: center;
	background:#6ED6A8;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	border-radius: 50px;
	
}
.d51{
	height: 60px;
	width: 60px;
	float: left;
	background-image: url("未标题-music.png");
	border-radius: 50px;
	
	
}
.d52{
	height: 60px;
	width: 300px;
	float: left;
	margin-top: 10px;
}
.d53{
	height: 60px;
	width: 300px;
	float: left;
	margin-top: 4px;
}

.d54{
	height: 60px;
	width: 660px;
	text-align: center;
	background:#6ED6A8;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	border-radius: 50px;
	
}
.d55{
	height: 60px;
	width: 60px;
	float: left;
	background-image: url("未标题-music.png");
	border-radius: 50px;
	
	
}
.d56{
	height: 60px;
	width: 300px;
	float: left;
	margin-top: 10px;
}
.d57{
	height: 60px;
	width: 300px;
	float: left;
	margin-top: 4px;
}

.d58{
	height: 60px;
	width: 660px;
	text-align: center;
	background:#6ED6A8;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	border-radius: 50px;
	
}
.d59{
	height: 60px;
	width: 60px;
	float: left;
	background-image: url("未标题-music.png");
	border-radius: 50px;
	
	
}
.d60{
	height: 60px;
	width: 300px;
	float: left;
	margin-top: 10px;
}
.d61{
	height: 60px;
	width: 300px;
	float: left;
	margin-top: 4px;
}

.d62{
	height: 60px;
	width: 660px;
	text-align: center;
	background:#6ED6A8;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	border-radius: 50px;
	
}
.d63{
	height: 60px;
	width: 60px;
	float: left;
	background-image: url("未标题-music.png");
	border-radius: 50px;
	
	
}
.d64{
	height: 60px;
	width: 300px;
	float: left;
	margin-top: 10px;
}
.d65{
	height: 60px;
	width: 300px;
	float: left;
	margin-top: 4px;
}


