@charset "utf-8";
/* CSS Document */
body{
			margin: 0;
			padding: 0;
		}
		.a{
	height: 3000px;
	width: 100%;
	
			background-color:#F3F3F2;
			position: relative;
		}
.d{
	width: 1100px;
	height: 3000px;
	background: #40CDB2;
	position: absolute;
	left: 400px;
	top: 0;
}